.container {
	width: 1250px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 35px;
}

	.container .b-1 {
		background: url('../img/hr.png') no-repeat 0 39px;
		height: 40px;
	}

		.b-1 h2 {
/*			font-size: 20px;*/
		}

		.b-2 {
			margin-top: 30px;
			padding-top: 5px;
			padding-left: 15px;
			margin-bottom: 55px;
		}

			.b-2 a {
				display: block;
				height: 30px;
				line-height: 30px;
				margin-top: 10px;
				text-decoration: underline;
				background: url('../img/green-arrow.png') no-repeat 7px 7px;
				font-family: 'Arial Italic';
				font-size: 16px;
			    -moz-box-sizing: border-box; 
			    -webkit-box-sizing: border-box;
			    box-sizing: border-box;
			    padding: 0 0 0 20px;
			}

			.b-2 a:hover {
				text-decoration: none;
			}

span.accentuation {
	font-family: 'Arial Italic';
	color: #fff;
	font-size: 16px;
	background: #83a43c;
}